.section-tittle h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-tittle h2 {
    font-size: 37px;
  }
}
@media (max-width: 767px) {
  .section-tittle h2 {
    font-size: 33px;
  }
}
#nav1 > .active > a {
  color: #ff3333;

}
#nav-item2 > a:hover {
  color: #ff3333;
}
#nav-item1 > a:hover {
  color: #ff3333;
}
